.bg_about_us_2 {
  background-size: cover !important; }
  .bg_about_us_2 .container {
    padding: 100px 0; }
    .bg_about_us_2 .container h2.title {
      color: #fff;
      font-size: 40px;
      font-family: 'FranklinGothic Demi'; }
    .bg_about_us_2 .container .gap-50 {
      height: 50px; }
    .bg_about_us_2 .container .experience-item {
      background: #0000009c; }
      .bg_about_us_2 .container .experience-item + .experience-item {
        position: relative; }
        .bg_about_us_2 .container .experience-item + .experience-item:before {
          content: "";
          background: #fff;
          height: 80px;
          width: 2px;
          position: absolute;
          left: 0;
          top: calc(50% - 40px); }
      .bg_about_us_2 .container .experience-item:hover {
        background: #bc3033;
        cursor: pointer; }
        .bg_about_us_2 .container .experience-item:hover .item-dinner .title {
          color: #fff; }
      .bg_about_us_2 .container .experience-item .item-dinner {
        padding: 95px 35px;
        color: #fff; }
        @media (max-width: 980px) {
          .bg_about_us_2 .container .experience-item .item-dinner {
            padding: 35px; } }
        .bg_about_us_2 .container .experience-item .item-dinner .title {
          font-family: 'FranklinGothic Demi';
          font-size: 32px;
          color: #bc3033; }

.bg_about_us_3 .box-1 .overlight {
  background: #ffffffa3;
  width: 100%;
  position: absolute;
  height: 100%; }
.bg_about_us_3 .box-1 img {
  z-index: 9; }
.bg_about_us_3 .box-2 .card {
  border: 0;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 700px; }
  .bg_about_us_3 .box-2 .card .title {
    color: #2e3133;
    font-size: 40px;
    font-family: 'FranklinGothic Demi';
    position: relative; }
    .bg_about_us_3 .box-2 .card .title:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 3px;
      width: 70px;
      height: 3px;
      background-color: #bc3033; }

.bg_about_us_4 {
  background-size: cover !important; }
  .bg_about_us_4 .row .col-md-3 {
    background: #000000c4; }
    .bg_about_us_4 .row .col-md-3 .card {
      margin: 130px 0;
      background: transparent;
      border: 0; }
      .bg_about_us_4 .row .col-md-3 .card .card-body .card-title {
        color: #fff;
        font-size: 40px;
        position: relative;
        padding-bottom: 10px; }
        .bg_about_us_4 .row .col-md-3 .card .card-body .card-title:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 3px;
          width: 70px;
          height: 3px;
          background-color: #bc3033; }
      .bg_about_us_4 .row .col-md-3 .card .card-body .content-strength {
        padding-top: 50px;
        font-size: 16px;
        color: #fff; }
        .bg_about_us_4 .row .col-md-3 .card .card-body .content-strength .title {
          font-weight: bold;
          font-size: 28px; }
      .bg_about_us_4 .row .col-md-3 .card .card-body .owl-nav {
        position: absolute;
        top: -77px;
        right: -20px; }
        .bg_about_us_4 .row .col-md-3 .card .card-body .owl-nav .owl-prev {
          background-color: #bc3033;
          margin: 0;
          border-radius: 0;
          width: 30px; }
        .bg_about_us_4 .row .col-md-3 .card .card-body .owl-nav .owl-next {
          background-color: #bc3033;
          margin: 0;
          border-radius: 0;
          width: 30px; }
