.bg_detailblog {
  min-height: 484px;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  padding-bottom: 50px;
  color: #fff; }
  .bg_detailblog:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .bg_detailblog .dates {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    font-family: 'FranklinGothic Demi';
    padding-right: 20px;
    line-height: 24px;
    border-right: 1px solid #fff; }
  .bg_detailblog .title {
    font-family: 'FranklinGothic Medium';
    font-size: 24px;
    margin: 0;
    padding-left: 20px;
    text-transform: uppercase; }

#share-buttons{margin-bottom: 20px}
#share-buttons img {
    width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;
}
.entry, .entry p,.entry span{font-family: 'FranklinGothic Book';}
.entry h1,.entry h2,.entry h3,.entry h4,.entry h5,.entry h6, .entry strong{font-weight: 500;font-family: 'FranklinGothic Medium';}
.entry a{color: #f7941d;}
.entry h1{font-size: 28px;}
.entry h2{font-size: 24px;}
.entry h3{font-size: 20px;}
.entry h4, .entry h5, .entry h6{font-size: 20px;}
.entry img{max-width: 100%}

.port_logistics {
  padding: 20px 0; }
  .port_logistics .title {
    text-transform: uppercase;
    margin-bottom: 30px; }
  .port_logistics .desc {
    font-family: 'FranklinGothic Book';
    font-size: 15px; }
  .port_logistics .btn-warning {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #F7951F;
    border-width: 2px;
    color: #F7951F;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-flex;
    align-items: center; }
    .port_logistics .btn-warning img {
      width: 10px;
      float: left;
      margin-right: 5px; }
  .port_logistics .list-unstyled li {
    font-size: 14px; }
    .port_logistics .list-unstyled li span {
      font-weight: bold;
      color: #000; }
  .port_logistics .owl-carousel .owl-nav div[class*="owl-"] {
    background-color: transparent;
    position: absolute;
    color: #000; }
    .port_logistics .owl-carousel .owl-nav div[class*="owl-"] span {
      display: inline-flex;
      align-items: center; }
      .port_logistics .owl-carousel .owl-nav div[class*="owl-"] span img {
        margin: 0 5px; }
  .port_logistics .owl-carousel .owl-nav .owl-next {
    right: 0; }
  .port_logistics .owl-carousel .owl-nav .owl-prev {
    left: 0; }